@charset "UTF-8";
/* Переменные проекта */
/* Обнуление стилей */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: green;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  color: #fff;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  font-size: 20px;
  line-height: 40px;
  scroll-behavior: smooth;
  color: #fff;
  background-color: black;
}

/* Общие и технические классы */
._wrapper {
  padding: 20px 20px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

._btn {
  font-family: inherit;
  font-size: 20px;
}

h1 {
  font-size: 60px;
  line-height: 120px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

.lang-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-item {
  display: block;
  font-weight: bold;
  font-size: 28px;
}

.lang-btn {
  font-weight: bold;
  font-size: 20px;
  width: 75px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: transparent;
}

.lang-btn:hover {
  cursor: pointer;
  color: #1E90FF;
}

.active {
  color: #1E90FF;
}

.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-img {
  width: 300px;
  overflow: hidden;
}

.picture {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  margin-left: 45px;
}

.quote-btn {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 5px;
  width: 150px;
  height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 5px;
}

.quote-btn:hover {
  cursor: pointer;
  background-color: #1E90FF;
}

.quote-btn:active {
  cursor: pointer;
  background-color: #3CB371;
}

.quote-text {
  text-align: center;
  width: 700px;
  min-height: 120px;
}

.quote-name {
  font-size: 25px;
  text-align: center;
  width: 700px;
  min-height: 60px;
  font-weight: bold;
  color: #1E90FF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 0 15%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  color: #fff;
}

.footer__link {
  display: block;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  cursor: pointer;
  -webkit-filter: invert(43%) sepia(84%) saturate(5949%) hue-rotate(204deg) brightness(102%) contrast(106%);
          filter: invert(43%) sepia(84%) saturate(5949%) hue-rotate(204deg) brightness(102%) contrast(106%);
}

.footer__github {
  width: 40px;
  background-image: url("../svg/github.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.footer__rsschool {
  width: 100px;
  background-image: url("../svg/rss.svg");
  background-repeat: no-repeat;
}
